<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>M0v13 pag3</title>
		<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-6">Title: <%= movie.Title %> </div>
			<div class="col-xs-6">Plot: <%= movie.Plot %> </div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<form method="POST" action="/favorites">
					<input type="text" style="display: none;"
					       value="<%= movie.imdbID%>" name="imdbID">
					<input type="number" name="rating">
					<button>Favorite</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>